<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools">

    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE" />
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.READ_PHONE_STATE" />

    <application
        android:allowBackup="true"
        android:dataExtractionRules="@xml/data_extraction_rules"
        android:fullBackupContent="@xml/backup_rules"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.NativeandroidadgeistTheme"
        tools:targetApi="31">
        
        <meta-data
        android:name="com.adgeistkit.ads.APP_ID"
        android:value="68f8c700c40a64049896a72d"/>

        <meta-data
        android:name="com.adgeistkit.ads.API_KEY"
        android:value="b4e33bb73061d4e33670f229033f14bf770d35b15512dc1f106529e38946e49c"/>

        <meta-data
            android:name="com.adgeistkit.ads.ORIGIN"
            android:value="https://hackathon-lake-nine.vercel.app/ad"
            />

        <activity
            android:name=".MainActivity"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>